@import url('/it-project/public/css/main.css');

#user_photos_container {
	width:99%;
	margin:0 auto;
}

.page_description {
	margin-left:20px;
	line-height:20px;
}

.page_description ol {
	list-style-type:decimal;
	color:inherit;
	background-color:inherit;
}

.page_description ol li {
	margin-left:35px;
}

#user_photos_container ul {
	display:inline-block;
}

#user_photos_container .photo {
	float:left;
	margin:1px;
	padding:1px;
	border:1px solid #05A4D1;
	text-align:center;
}

#user_photos_container .img_container {
	font-size:0;
	line-height:0;
}

#user_photos_container .img_container img {
	margin:1px;
}

#user_photos_container div a {
	display:inline-block;
	margin:0 4px;
}
