@import url('/it-project/public/css/main.css');
@import url('/it-project/public/css/photos.css');
@import url('/it-project/public/css/tagcloud.css');

#content {
	width:95%;
}

#content h1 {
	font-size:1.5em;
	font-weight:bold;
}

#welcome_div {
	float:left;
	width:47%;
	margin-top:15px;
}

#mapholder {
	float:right;
	width:53%;
	margin-bottom:30px;
	border:1px solid #AAAAAA;
}

/****************************************************/

#content_bottom {
	width:95%;
}

#content_bottom h2 {
	width:70%;
	margin:0 auto;
	font-size:1.3em;
}
