body {width:100%; height:100%; font:normal 90% "trebuchet ms", arial, sans-serif; color:#555555; background-color:#FEFEFE;}

/* ------------------------------- */
/* PAGE Elements
/* ------------------------------- */

#header {height:100px; color:inherit; background-color:#F5F5F5;}
	#top {width:960px; height:60px; margin:0 auto;}
		#logo {float:left; padding-top:10px;}
	    	#logo a {font-size:2.3em; font-weight:bolder; color:#FF0066; background-color:inherit;}
		#navbar {float:right; margin-top:25px; font-weight:bold; color:inherit; background-color:transparent;}
    		#navbar a {
    		    display:inline-block;
                width:100px;
                text-align:center;
                text-decoration:none;
                color:#999999;
                background-color:inherit;
    		}
    		#search_header_container {
    			display:inline-block;
    		}
    		.navbar_search {
    			width:220px;
			    height:13px;
			    padding:3px;
    		}
    		.navbar_search_button {
    			padding:0;
    			border:none;
    			font:inherit;
				color:#999999;
			    background-color:inherit;
			    cursor:pointer;
    		}
			#navbar a:hover, .navbar_search_button:hover {color:#777777; background-color:inherit;}
			
	#user_bar_container {
		width:100%;
		height:40px;
		border-top:1px dotted #CCCCCC;
		border-bottom:1px dotted #AAAAAA;
		color:inherit;
		background-color:#EEEEEE;
	}
		#user_bar {
			width:960px;
			height:100%;
			margin:0 auto;
		}
		
		#user_bar p {
		    font-size:1em;
		    line-height:normal;
		}
		
		#user_bar a {
		    font-weight:bold;
		    text-decoration:none;
		    color:#999999;
		    background-color:inherit;
		}
		
		#user_bar a:hover {
			color:inherit;
		    background-color:inherit;
		}
		
		#user_bar .user {
			float:left;
			height:100%;
		}
		
		#user_bar .user p strong, #album_size_info p strong {
		    float:left;
		    font-size:0.9em;
		    line-height:40px;
		    margin-right:8px;
		}
		
		#user_bar .user_submenu_button {
		    display:inline-block;
		    height:24px;
		    font-size:0.9em;
		    font-weight:bold;
		    margin:7px 8px 7px 0;
		    padding-left:10px;
		    border:1px solid #444444;
		    border-radius:12px;  
		    text-decoration:none;
		    color:#FEFEFE;
		    background-color:#05A4D1;
		}
		
		#user_bar .user_submenu_button:hover {
		    color:#DDDDDD;
		    background-color:#05A4D1;
		}
		
		#user_bar .user_submenu_button .user_text {
			float:left;
			padding-right:5px;
			line-height:23px;
			font-weight:bold;
		}
		
		#user_bar .user_submenu_button .down_arrow_icon {
			float:right;
		    width:16px;
		    height:16px;
		    margin:4px 5px 0 0;
		    background:transparent no-repeat scroll url('/it-project/public/images/down.png');
		}
		
		#user_bar .logout {
		    display:inline-block;
		    line-height:40px;
		    overflow:hidden;
		    padding-left:12px;
		}
		
		#user_bar .logout .logout_icon {
			float:left;
		    width:16px;
		    height:16px;
		    margin:12px 5px 0 -5px;
		    background:transparent no-repeat scroll url('/it-project/public/images/logout.png');
		}
		
		#user_bar .user form {
			padding:7px 0;
		}
		
		#user_bar .user form input[type="text"], .user form input[type="password"] {
		    width:150px;
		    height:15px;
		    padding:2px;
		    font-size:1em;
		}
		
		#user_submenu {
			display:none;
			position:absolute;
			z-index:10;
			margin-top:-7px;
			margin-left:97px;
			padding:7px 5px;
		    border:1px solid #444444;
		    border-radius:5px;
		    color:inherit;
		    background-color:#05A4D1;
		}
		
		#user_submenu li {
			margin:4px 0;
		}
		
		#user_submenu a {
		    font-size:0.9em;
		    font-weight:bold;
		    text-decoration:none;
		    color:#FEFEFE;
		    background-color:inherit;
		}
		
		#user_submenu a:hover {
		    color:#444444;
		}
		
		#album_size_info {
			float:right;
			height:100%;
		}
		
		#my_canvas {
			margin:8px 0;
			border:1px solid #777777;
			border-radius:12px;
			color:inherit;
			background-color:#F5F5F5;
		}


	#main {
	    width:960px;
	    height:100%;
	    min-height:700px;
        margin:10px auto 30px auto;
        padding:10px 0;
	    color:inherit;
	    background-color:inherit;
    }
			
		#content {width:100%; height:100%; margin:0 auto;}
			#content h1 {font-size:1.3em; font-weight:bold;}
        
		#error {
			margin:30px 0 0 30px;
			color:inherit;
			background-color:inherit;
		}
		#error h1 {
			font-size:1.5em;
			font-weight:bold;
		}
		#error p {
			font-size:1.4em;
			color:#FF4D4D;
			background-color:inherit;
		}
        
        #content_bottom {width:100%; height:100%; margin:0 auto; padding-top:25px;}
            #content_bottom ul {list-style-type:disc; color:#FF4D4D; background-color:inherit;}
            #content_bottom ul li {margin-left:30px;}

	#footer {margin:0 auto; border-top:1px solid #CCCCCC; text-align:center; color:inherit; background-color:#F5F5F5;}
		#footer p {line-height:50px;}


#content ul li a, h1 a {
    text-decoration:none;
    color:#888888;
    background-color:transparent;
}
#content ul li:hover, #content ul li a:hover, h1 a:hover {
	text-decoration:none;
    color:#000000;
    background-color:inherit;
}

/* ------------------------------- */
/* Other Classes
/* ------------------------------- */

.button {
	padding:4px 5px;
    border:0 none;
    border-radius:5px;
    font-family:inherit;
    font-size:1em;
    font-weight:bold;
	color:#FFFFFF;
    background-color:#999999;
    cursor:pointer;
}

.button:hover {color:#FFFFFF; background-color:#777777;}

strong {font-weight:bold;}

.site_blue {color:#05A4D1;}


/****************************************************/
