
.most_viewed_photo {
	margin:1px;
	padding:2px;
}
.most_viewed_photo .owner {
    padding:5px 20px 25px 45px;
}

.nine_popular {
	clear:both;
	width:99%;
}

.nine_popular .photo {
	width:33%;
    padding-bottom:3px;
    text-align:left;
    vertical-align:middle;
}

.nine_popular .photo .photo_container a {
	font-size:0;
	line-height:0;
}

.most_viewed_photo img, .nine_popular .photo .photo_container img {
	display:block;
	margin:0 auto;
	border:1px solid #FFFFFF;
	box-shadow:0 0 5px #888888;
}

.nine_popular .owner {
	width:33%;
    padding:5px 15px 25px 35px;
    vertical-align:top;
}

.most_viewed_photo .owner a, .nine_popular .owner p a {
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-decoration:none;
	color:#05A4D1;
}
