@import url('/it-project/public/css/main.css');

#content {
	width:70%;
	padding:20px;
	border:1px solid #AAAAAA;
	border-radius:10px;
	color:inherit;
	background-color:#F5F5F5;
}

#register form p, #edit_account form p {
	margin:7px 0;
}

#register form span, #edit_account form span {
	float:left;
	width:330px;
	padding:3px;
	font-size:1.1em;
	text-align:right;
}

#register form input[type="text"], #register form input[type="password"],
#edit_account form input[type="text"], #edit_account form input[type="password"] {
    width:250px;
    margin-left:20px;
    padding:3px;
    font-size:1em;
}

#register form .buttons, #edit_account form .buttons {
	margin-left:63%;
}

#register form .button, #edit_account form .button {
	margin:0 7px;
}
