@import url('/it-project/public/css/main.css');
@import url('/it-project/public/css/photos.css');
@import url('/it-project/public/css/tagcloud.css');

#content {
	width:90%;
}

#search {
	width:50%;
	margin:0 auto;
	padding:1px;
}

#search input[type="text"] {
    width:300px;
    height:20px;
    margin:5px 0 10px 0;
    padding:3px;
    font-size:14px;
}

p.toggle {
	width:50%;
	margin:0 auto;
	padding-bottom:3px;
}

p.toggle a {
	font-size:small;
	text-decoration:none;
	color:#05A4D1;
	background-color:inherit;
}

p.toggle a:hover {
	color:#FFFFFF;
	background-color:#05A4D1;
}

p.toggle .selected {
	font-size:small;
	font-weight:bold;
	color:#000000;
	background-color:inherit;
}


#search .hint_box {
	display:none;
	width:308px;
	position:absolute;
	z-index:10;
	margin:-10px 0 0 3px;
	border:1px solid #796F6E;
	box-shadow:0 0 5px #888888;
	list-style:none outside none;
	font-size:1em;
    line-height:20px;
    color:#ACACAC;
    background-color:#FFFFFF;
    cursor:default;
}

#search .hint_box li {
    display:block;
    padding:0 10px;
    border:1px solid #FFFFFF;
    color:#555555;
    background-color:inherit;
}

#search .hint_box li:hover {
    border:1px solid #ACACAC;
    border-radius:3px;
    color:#FFFFFF;
	background-color:#05A4D1; 
}

#content_bottom {
	width:90%;
}

#content_bottom h2 {
	width:70%;
	margin:0 auto;
	font-size:1.3em;
}

#page_navigator {
	text-align:center;
}

#page_navigator a {
	text-decoration:none;
}

#page_navigator .paginator a {
	background-color:inherit;
	color:#05A4D1;
	border:1px solid #EEEEEE;
	padding:2px 6px;
	font-weight:bold;
	font-size:smaller;
}

#page_navigator .paginator .selected_page {
	background-color:inherit;
	color:#FF0066;
	cursor:text;
	font-weight:bolder;
}

#page_navigator .paginator .selected_page:hover {
	background-color:inherit;
	color:#FF0066;
}

#page_navigator .paginator a:hover {
	background-color:#05A4D1;
	color:white;
}

#page_navigator .results {
	margin-top:10px;
	font-weight:bold;
	font-size:smaller;
}

#page_navigator .paginator .disabled, #page_navigator .paginator .disabled:hover {
	background-color:inherit;
	color:#BBBBBB;
	cursor:text;
}
