
.tag_cloud {
	width:70%;
	height:100%;
	overflow:hidden;
	margin:10px auto;
	padding:5px;
	border:1px solid #EEEEEE;
	color:inherit;
	background-color:#F5F5F5;
}

.tag_cloud a {
	display:inline-block;
	margin:3px;
	padding:1px;
	text-decoration:none;
	color:#05A4D1;
	background-color:inherit;
}

.tag_cloud a:hover {
	color:#FFFFFF;
	background-color:#05A4D1;
}
