@import url('/it-project/public/css/main.css');

#content {
	width:80%;
}

#content ol {
	list-style-type:decimal;
	color:inherit;
	background-color:inherit;
}

#content ol li {
	margin:0 0 10px 30px;
}

#upload_photo {
	width:85%;
	margin:0 auto;
}

#upload_photo label {
	float:left;
	width:264px;
	text-align:left;
}

#title_id {
	width:330px;
}

/*****************************************/

#tags {
	float:left;
	width:325px;
}

#tags div {
	display:inline-block;
	float:left;
	margin-bottom:5px;
}

#tags .tag_textfield {
	width:151px;
}

/*****************************************/

#tags .hint_box {
	display:none;
	width:153px;
	position:absolute;
	z-index:10;
	margin-left:3px;
	border:1px solid #796F6E;
	box-shadow:0 0 5px #888888;
	list-style:none outside none;
	font-size:0.9em;
    line-height:15px;
    color:#ACACAC;
    background-color:#FFFFFF;
    cursor:default;
}

#tags .hint_box li {
    display:none;
    padding:0 10px;
    border:1px solid #FFFFFF;
    color:#555555;
    background-color:inherit;
}

#tags .hint_box li:hover {
    border:1px solid #ACACAC;
    border-radius:3px;
    color:#FFFFFF;
	background-color:#05A4D1; 
}

/*****************************************/

#upload_photo span {
	float:right;
	margin-right:0px;
}

#upload_photo .button {
	margin-left:5px;
}

#content_bottom {
	clear:both;
	width:68%;
}

#content_bottom p {
	color:#FF4D4D;
	background-color:inherit;
}

