@import url('/it-project/public/css/main.css');

.unordered_list {
	list-style-type:disc;
	color:#868876;
	background-color:inherit;
}

.unordered_list li {
	margin:0 0 10px 30px;
}

.unordered_list li a {
	text-decoration:none;
	color:inherit;
	background-color:inherit;
}
