@import url('/it-project/public/css/main.css');

#photo_view_panel {
	float:left;
	width:640px;
}

#main_photo_container a img {
	position:relative;
}

#photo_info {
	margin-top:15px;
}

#photo_info h1 {
	font-size:large;
	font-weight:bold;
	color:#333333;
	margin:10px 0;
}

#comments_container {
	margin-top:30px;
	width:550px;
}

#comments_container h2 {
	margin-bottom:10px;
	font-size:medium;
	font-weight:bold;
	color:#333333;
}

#users_comments .comment_block {
	margin:0 10px 20px 10px;
	padding:5px;
	word-wrap:break-word;
}

#users_comments .user {
	font-weight:bold;
	color:#777777;
	margin-bottom:5px;
}

#users_comments .user {
	color:#05A4D1;
}

#comment_form {
	margin-left:8px;
}

.slight_border_bottom {
	border-bottom:1px solid #DDDDDD;
}

#photo_info_sidebar {
	float:right;
	width:290px;
}

#photo_info_sidebar .temp {
	margin-bottom:30px;
	padding:7px 0;
}

#photo_info_sidebar .temp p {
	padding:7px 5px 0;
}

#photo_info_sidebar .temp h4 {
	padding:0 5px 7px;
}

#photo_info_sidebar .temp p a {
	display:inline-block;
	padding:1px;
	text-decoration:none;
	color:#05A4D1;
	background-color:inherit;
}

#photo_info_sidebar div p a:hover {
	color:#FFFFFF;
	background-color:#05A4D1;
}

#photo_tags a {
	display:inline-block;
	padding:1px;
	text-decoration:none;
	color:#05A4D1;
	background-color:inherit;
}

#photo_tags a:hover {
	color:#FFFFFF;
	background-color:#05A4D1;
}
